@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.color-header {
  color: #536279;
  font-weight: bold;
  margin-bottom: 20px;
}

.sec-header {
  margin-bottom: 40px;
  font-weight: bold;
}

.btn-orange {
  font-weight: 600;
  color: #294063;
  background-color: #f89c49;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .btn-orange {
    font-size: 18px;
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 479px) {
  .btn-orange {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.btn-orange:hover {
  text-decoration: none;
  outline: none;
  color: #f89c49;
  background-color: #294063;
}

.btn-orange:focus {
  outline: none;
}

input[type="checkbox"] {
  visibility: hidden;
}

.navbar {
  background-color: #536279;
  font-size: 16px;
}

.navbar .navbar-nav {
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #f89c49;
}

.navbar img {
  max-height: 60px;
}

.footer {
  background-color: #e0e9ee;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 40px 0;
  line-height: 1;
}

@media (min-width: 1025px) {
  .footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 479px) {
  .footer {
    font-size: 12px;
  }
}

.footer .cont {
  color: #536279;
}

.footer .cont a {
  color: #536279;
}

.footer .cont a:hover {
  text-decoration: none;
  color: #f89c49;
}

.footer .cont p {
  line-height: 1.2;
  margin-bottom: 9px;
}

.footer .footer-links li {
  margin-bottom: 15px;
}

.footer .footer-links a {
  color: #3f5968;
}

.footer .footer-links a:hover {
  text-decoration: none;
  color: #f89c49;
}

.text_with_icons svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: -21px;
}

.beamtype {
  margin-bottom: 20px;
}

.btn-beamtype {
  font-weight: 600;
  color: #294063;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-beamtype:focus {
  border: none;
  outline: none;
}

.not-active {
  background-color: #e0e9ee;
}

.not-active:hover {
  background-color: #f89c49;
}

.active {
  color: white;
  background-color: #294063;
}

.beamform {
  background-color: #dfdfdf;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #294063;
          box-shadow: 5px 5px 10px #294063;
  padding: 15px;
  text-align: center;
}

.beamform .form-element {
  position: relative;
  margin-top: 10px;
  padding-top: 20px;
}

.beamform .form-element label {
  color: #3f5968;
  display: block;
  margin-bottom: 5px;
}

.beamform .form-element input,
.beamform .form-element select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.beamform .form-element input:focus,
.beamform .form-element select:focus {
  outline: 0;
  border-color: #3f5968;
}

.beamform .form-element small {
  color: #e74c3c;
  padding-top: 3px;
  display: none;
}

.beamform .form-element.error small {
  display: block;
}

.beamform #grid {
  padding-top: 10px;
}

.inputGroup {
  font-size: 14px;
  display: block;
  position: relative;
}

.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.inputGroup label:before {
  width: 10px;
  height: 20px;
  border-radius: 50%;
  content: "";
  background-color: #f89c49;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 24px;
  height: 24px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked ~ label:after {
  background-color: #294063;
  border-color: #294063;
}

.inputGroup input {
  width: 24px;
  height: 24px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.loadsection {
  padding: 5px 15px;
  background-color: #e0e9ee;
  -webkit-box-shadow: 2px 2px 5px #294063;
          box-shadow: 2px 2px 5px #294063;
  border-radius: 20px;
}

.loadsection p {
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px #294063;
}

.results {
  padding-top: 50px;
}

.instructions {
  padding: 10px 10px;
  border-radius: 20px;
  background-color: #e0e9ee;
  font-size: 14px;
}

.instructions .note {
  padding: 5px;
  font-style: italic;
}

.instructions li {
  padding-top: 15px;
}

.checkbox {
  text-align: left;
  color: #3f5968;
  font-size: 14px;
}

#resultLink {
  margin-top: 20px;
  text-align: center;
}

#resultLink a {
  text-decoration: none;
  color: #294063;
  margin-top: 20px;
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.names {
  font-weight: 800;
  color: #294063;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

hr {
  border-top: 4px solid #294063;
  border-radius: 3px;
}

.resulttable {
  text-align: center;
}

.resulttable table {
  width: 100%;
  height: 300px;
}

.resulttable th,
.resulttable td {
  border: 2px solid #294063;
}

.comunications {
  text-align: center;
}

.resutsbtn {
  margin-bottom: 80px;
  margin-top: 50px;
}

.resutsbtn button {
  margin: 5px 30px;
}

#flaps {
  width: 80%;
}

.contacts {
  margin-top: 40px;
}

.contacts h2 {
  color: #536279;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 600px;
  font-size: 24px;
}

.contactForm .form-element {
  position: relative;
  margin-bottom: 15px;
}

.contactForm .form-element input {
  border: none;
  color: #536279;
  border-bottom: 1px solid #536279;
  background-color: transparent;
  width: 100%;
  padding: 5px 0;
}

.contactForm .form-element input:focus {
  outline: none;
}

.contactForm .form-element select {
  width: 100%;
  padding: 10px 22px 7px 7px;
  font-weight: 300;
  background-color: #536279;
  color: #fff;
  cursor: pointer;
}

.contactForm .form-element select:focus {
  outline: none;
}

.contactForm .form-element textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #536279;
  color: #536279;
  background-color: transparent;
  resize: none;
  height: 150px;
  line-height: 1.5;
}

.contactForm .form-element textarea:focus {
  outline: none;
}

.contactForm .form-element small {
  color: #e74c3c;
  padding-top: 3px;
  display: none;
}

.contactForm .form-element.error small {
  display: block;
}
