{% load static %}

<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <div class="navbar-brand mr-4">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" alt="logo" />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <!-- Navbar Right Side -->
      <div class="navbar-nav ml-auto">
        <a {% if '/' == request.path %}
        class="nav-item nav-link active_page"
        {% else %}
        class="nav-item nav-link"
        {% endif %}
        href="{% url 'index' %}">Головна</a>
        <a {% if 'about' in request.path %}
        class="nav-item nav-link active_page"
        {% else %}
        class="nav-item nav-link"
        {% endif %}
        href="{% url 'about' %}">Про сервіс</a>
        <a {% if 'contacts' in request.path %}
        class="nav-item nav-link active_page"
        {% else %}
        class="nav-item nav-link"
        {% endif %}
        href="{% url 'contacts' %}">Контакти</a>
        <a class="nav-item nav-link" href="https://uscc.ua/">Сайт УЦСБ</a>
      </div>
    </div>
  </div>
</nav>