{% extends 'base.html' %}

<!-- Main content -->
{% block content %}

<!-- Page Content -->
<div class="container">
  <!-- HEADER -->
  <div class="row align-items-center">
    <div class="col-sm-12 text-center">
      <h2 class="my-5">Про сервіс</h2>
    </div>
  </div>
  <!-- END HEADER -->

  <!-- MAIN BLCOK -->
  <div class="row align-items-center">
    <div class="col-md-12">
      Основна ідея - орієнтовний підбір сталевих балок перекриття відповідно до
      заданої сітки колон. Основна цільова аудиторія - архітектори, що на єтапі
      концептуального розгляду проекту зможуть оцінити висоти елементів
      перекриття, а також габарити комунікацій, що можна пропустити крізь балку.
    </div>
  </div>
  <!-- END MAIN BLCOK -->
</div>
<!-- END PAGE Content -->
{% endblock%}
