.navbar {
  background-color: $color1;

  font-size: 16px;

  .navbar-nav {
    text-transform: uppercase;
    .nav-link {
      color: #fff;
    }
    .nav-link:hover,
    .nav-link:focus {
      color: $color2;
    }

    .active_page {
      color: $color2;
    }
  }

  img {
    max-height: 60px;
  }
}
